.member {
  & .card {
    &__wrapper {
      border-radius: 12px;
      max-width: 450px;
    }

    &__divider {
      border: 1px $gray-400 dashed;
    }
  }

  & .coupon {
    &__wrapper {
      border-radius: 16px;
    }

    &-icon {
      padding: 12px;
      font-size: 40px;
      transform: rotate(-45deg);
      display: inline-block;

      &__wrapper {
        border-right: dashed 2px;
        border-top: 0;
        border-bottom: 0;
        border-left: 0;
      }
    }

    &-button {
      &__wrapper {
        min-width: 70px;
      }
    }
  }
}
